<header>
  <nav class="navbar navbar-expand-xl navbar-light" style="padding:0;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav"
         style=" opacity: 0.9; box-shadow: black 0 0 5px; padding: 0; background-color: #5ba9e4">
      <ul class=" navbar-nav nav-fill">
        <li>
        <a class="navbar-brand nav-link" href="#">
          <img src="https://i.imgur.com/15cX1as.png" width="50px" height="50px" alt="tartaruga">
        </a>
        </li>
        <li>
          <a style="margin-left: -20px;" class="navbar-brand nav-link" href="#">
            <img style=" margin-top: 10px; width: 150px;" src="https://i.imgur.com/TKrDR0L.png" alt="eco-mmerce">
          </a>
        </li>
        <li class="nav-item" style="margin-top: 10px;">
          <a class="nav-link" routerLink="home" routerLinkActive="active"> Home</a>
        </li>
        <li class="nav-item" style="margin-top: 10px;">
          <a class="nav-link" routerLink="sobre" routerLinkActive="active"> Sobre nós</a>
        </li>
        <li class="nav-item" style="margin-top: 10px;">
          <a class="nav-link" routerLink="produtos" routerLinkActive="active"> Produtos </a>
        </li>
        <li class="nav-item" style="margin-top: 10px;">
          <a class="nav-link" routerLink="contato" routerLinkActive="active"> Contato </a>
        </li>
        <li class="nav-item" style="margin-top: 10px;">
          <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login-modal">
            Login
          </button>
        </li>
        <li class="nav-item" style="margin-top: 10px;">
          <a class="nav-link" routerLink="cadastro" routerLinkActive="active"> Cadastre-se </a>
        </li>
        <li>
          <form style="margin-top: 10px; margin-left: 20px;" class="navbar-form navbar-right search-form" role="search">
            <input type="text" class="form-control" placeholder="Pesquisa..." aria-label="pesquisa"/>
          </form>
        </li>
        <li>
        <a class="navbar-brand nav-link" routerLink="carrinho" routerLinkActive="active">
          <img style="margin-top: 10px; width: 30px; margin-left: 30px;" src="https://i.imgur.com/rnzKJ4N.png"
               alt="carrinho">
        </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="nav-link">Login</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="username"><strong>Usuário</strong></label>
            <input type="text" class="form-control" id="username" name="username"
                   [(ngModel)]="form.username" #username="ngModel"
                   required/>
            <div *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required"><span class="error">Por favor, preencha o campo usuário</span></div>
            </div>
          </div>
          <div class="form-group">
            <label for="password"><strong>Senha</strong></label>
            <input type="password" class="form-control" id="password" name="password"
                   [(ngModel)]="form.password" #password="ngModel" required minlength="8"/>
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required"><span class="error">Por favor, preencha o campo senha</span></div>
              <div *ngIf="password.errors.minlength"><span
                class="error">O campo senha deve ter mais que 8 caracteres</span></div>
            </div>
          </div>
          <div class="form-group m-0">
            <button type="submit" class="btn btn-success w-100"><strong>Login</strong></button>
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
              <span class="error">Falha no login: {{errorMessage}}</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success w-100" data-dismiss="modal" routerLink="/cadastro" routerLinkActive="active">
          Ainda não tem conta? Cadastre-se
        </button>
      </div>
    </div>
  </div>
</div>
