<section style="margin-top: 100px;" id="section">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Quem somos?</h1>
      <p class="lead"> Jovens desenvolvedores que utilizam a Tecnologia  para contribuir com um mundo mais sustentável.
        Aplicando os conhecimentos aprendidos durante o curso de Bootcamp "Desenvolvedor Full
        Stack Java Web", desenvolvemos o ECO-mmerce uma plataforma de venda de produtos sustentáveis.</p>
    </div>
    <img style="margin-top: 20px;" class="card-img" src="https://i.imgur.com/wHbyYYq.jpg" alt="Imagem do card">
  </div>

  <div class="container">
    <div class="row d-flex justify-content-center shadow p-3 mb-5 bg-white rounded" style="margin-top: 20px;">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 justify-content-center">
        <img style="border-radius: 50%;" src="https://i.imgur.com/QZLffPX.jpg" class="img-fluid" alt="Débora Santos">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-top: 20px;">
        <p>Licenciada em biologia, sempre tive interesse na área de tecnologia. Tive a oportunidade de mergulhar no mundo da programação - onde me descobri profissionalmente.</p>
        <cite title="Assinatura">Debora Santos</cite>
        <a class="navbar-brand nav-link" href="https://br.linkedin.com/in/debora-ssantos/pt" target="_blank">
          <img style="width: 30px; margin-left: 10px;" src="https://i.imgur.com/nYThF0u.png" alt="">
        </a>
        <a class="navbar-brand nav-link" href="mailto:debora_santos@outlook.com.br">
          <img style="width: 30px; margin-left: -30px;" src="https://i.imgur.com/W4brWna.png" alt="">
        </a>
      </div>
    </div>

    <div class="row d-flex justify-content-center shadow p-3 mb-5 bg-white rounded" style="margin-top: 20px;">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-top: 20px;">
        <p class="text-right">
          Desde pequeno tenho facilidade em aprender, recentemente me apaixonei por programação e
          venho dando o meu máximo para desenvolver aplicações cada vez mais complexas e desafiadoras.
        </p>
        <div class="text-right">
          <cite title="Assinatura">Igor Silveira</cite>
          <a class="navbar-brand nav-link" href="https://br.linkedin.com/in/igorssilveira" target="_blank">
            <img style="width: 30px; margin-left: 10px;" src="https://i.imgur.com/nYThF0u.png" alt="">
          </a>
          <a class="navbar-brand nav-link" href="">
            <img style="width: 30px; margin-left: -30px;" src="https://i.imgur.com/W4brWna.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 justify-content-center">
        <img style="border-radius: 50%;" src="https://i.imgur.com/x9Yq5CM.jpg" class="img-fluid" alt="Igor Silveira">
      </div>
    </div>

    <div class="row d-flex justify-content-center shadow p-3 mb-5 bg-white rounded" style="margin-top: 20px;">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 justify-content-center">
        <img style="border-radius: 50%;" src="https://i.imgur.com/cfxKEpY.jpg" class="img-fluid" alt="Luan Santos">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-top: 20px;">
        <p>"Sou um profissional apaixonado pela vida, meu maior desejo sempre foi em um dia poder ver a igualdade
          e respeito entre a humanidade. O interesse e paixão pela tecnologia surgiu como um meio em que eu
          pudesse provar e incentivar que todas as diversidades também fazem parte dessa mudança digital, e
          isso faz com que o aprendizado seja um combustível para o meu objetivo."</p>
        <cite title="Assinatura">Luan Santos</cite>
        <a class="navbar-brand nav-link" href="https://br.linkedin.com/in/luan-nascimento-java" target="_blank">
          <img style="width: 30px; margin-left: 10px;" src="https://i.imgur.com/nYThF0u.png" alt="">
        </a>
        <a class="navbar-brand nav-link" href="mailto:luan14075@gmail.com">
          <img style="width: 30px; margin-left: -30px;" src="https://i.imgur.com/W4brWna.png" alt="">
        </a>
      </div>
    </div>

    <div class="row d-flex justify-content-center shadow p-3 mb-5 bg-white rounded" style="margin-top: 20px;">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-top: 20px;">
        <p class="text-right">"Formada em Analise e desenvolvimento de sistemas e também em Administração de Recursos Humanos, descobri
          a minha grande paixão pela tecnologia e desenvolvimento de software."</p>
        <div class="text-right">
          <cite title="Assinatura">Sheila Maria</cite>
          <a class="navbar-brand nav-link" href="https://br.linkedin.com/in/sheila-maria-da-silva-matos-ctfl-ctfl-at-a3a63990" target="_blank">
            <img style="width: 30px; margin-left: 10px;" src="https://i.imgur.com/nYThF0u.png" alt="">
          </a>
          <a class="navbar-brand nav-link" href="">
            <img style="width: 30px; margin-left: -30px;" src="https://i.imgur.com/W4brWna.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 justify-content-center">
        <img style="border-radius: 50%;" src="https://i.imgur.com/KFoPqES.png" class="img-fluid" alt="Sheila Maria">
      </div>
    </div>

    <div class="row d-flex justify-content-center shadow p-3 mb-5 bg-white rounded" style="margin-top: 20px;">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 justify-content-center">
        <img style="border-radius: 50%;" src="https://i.imgur.com/JFU0hcO.jpg" class="img-fluid" alt="Winicius Morais">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style="margin-top: 20px;">
        <p>"Quem sou eu? Eu sou aquele que acorda depois de um sonho, levanta depois de um tombo e sorri depois
          de uma decepção. Um Engenheiro apaixonado por Tecnologia, e um propósito usar a Tecnologia para melhorar
          a vida das pessoas. Esse sou eu!"</p>
        <cite title="Assinatura">Winicius Morais</cite>
        <a class="navbar-brand nav-link" href="https://br.linkedin.com/in/winimorais" target="_blank">
          <img style="width: 30px; margin-left: 10px;" src="https://i.imgur.com/nYThF0u.png" alt="Linkedin">
        </a>
        <a class="navbar-brand nav-link" href="mailto:winimorais@hotmail.com">
          <img style="width: 30px; margin-left: -30px;" src="https://i.imgur.com/W4brWna.png" alt="Enviar email">
        </a>
      </div>
    </div>
  </div>
</section>
