<div class="container">
  <div class="card">
    <table class="table table-hover shopping-cart-wrap">
      <thead class="text-muted">
      <tr>
        <th scope="col">Produto</th>
        <th scope="col" width="210">Quantidade</th>
        <th scope="col" width="120">Preço</th>
        <th scope="col" width="200" class="text-right">Ação</th>
      </tr>

      </thead>
      <tbody>
      <tr>
        <td>
          <figure class="media">
            <div class="img-wrap"><img src="http://bootstrap-ecommerce.com/main/images/items/2.jpg"
                                       class="img-thumbnail img-sm" alt="produto"></div>
            <figcaption class="media-body">
              <h6 class="title text-truncate">Produto </h6>
              <dl class="param param-inline small">
                <dt>Descrição</dt>
                <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quos vel
                  voluptatibus sequi nihil? Impedit quae saepe odio labore aliquam reiciendis
                  modi quia. Possimus, nesciunt reiciendis autem quisquam laborum quas!
                </dd>
              </dl>
            </figcaption>
          </figure>
        </td>
        <td>
          <label for="quantidade"></label>
          <select class="form-control" id="quantidade">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </td>
        <td>
          <div class="price-wrap">
            <p class="price">R$ 2,00</p>
            <small class="text-muted">(R$ 2,00 cada)</small>
          </div>
        </td>
        <td class="text-right">
          <a href="" class="btn btn-outline-danger"> × Remover</a>
        </td>
      </tr>
      <tr>
        <td>
          <figure class="media-body">
            <h6 class="title text-truncate">Informar CEP</h6>
            <form class="form-inline">
              <label for="cep" class="mr-sm-2">CEP</label>
              <input type="text" class="form-control mb-2 mr-sm-2" id="cep" placeholder="00000-000">
              <button type="submit" class="btn btn-outline-success mb-2">Calcular frete</button>
            </form>
          </figure>
          <div class="cart-delivery-check"></div>
        <td class="text-right">
          <label for="preco" class="mr-sm-8">Preço total</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="preco">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
