<div class="container mt-3">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <h1 class="text-center">Cadastro</h1>
      <form (ngSubmit)="onSubmit()" name="cadastro">
        <input type="text" class="form-control mt-3" name="nome" placeholder="Nome" required aria-label="nome">
        <input type="text" class="form-control mt-3" name="sobrenome" placeholder="Sobrenome" required aria-label="sobrenome">
        <input type="text" class="form-control mt-3" name="cpf"  placeholder="CPF" required aria-label="cpf">
        <input type="email" class="form-control mt-3" name="email"  placeholder="E-mail" required aria-label="e-mail">
        <input type="text" class="form-control mt-3" name="login"  placeholder="Login" aria-label="Login" required [(ngModel)]="usuario.login">
        <input type="password" class="form-control mt-3" name="senha"  placeholder="Senha" aria-label="senha" required [(ngModel)]="usuario.senha">
        <input type="password" class="form-control mt-3" name="confirmarSenha"  placeholder="Confirmar senha" required
               aria-label="confirmar senha">
        <button type="submit" class="btn btn-success form-control mt-3 ">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
